@font-face {
  font-family: "iconfont"; /* Project id 4551545 */
  src: url('iconfont.woff2?t=1715929983675') format('woff2'),
       url('iconfont.woff?t=1715929983675') format('woff'),
       url('iconfont.ttf?t=1715929983675') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bing:before {
  content: "\e653";
}

.icon-icons-duckduckgo:before {
  content: "\eece";
}

.icon-google:before {
  content: "\e87a";
}

.icon-bxl-baidu:before {
  content: "\e6e4";
}

